.stages {
  max-width: 100%;
  @media only screen and (min-width: 800px) {
    max-width: 1000px;
    margin: auto;
  }
  &__futursEtudiantsContainer {
    background-color: #ECECEC;
    padding: 1.4em 1.4em 3em;
    margin-bottom: 5em;
  }
  &__employeursFicheFin {
    background-color: #90CCF4;
  }
  &__employeursFicheATE {
    background-color: #13588B;
    color: white;
    float: right;
    margin-top: -1em;
  }
  @media only screen and (min-width: 800px) {
    &__employeursFicheATE {
      background-color: #13588B;
      margin-top: 0;
    }
    &__employeursContainer {
      display: flex;
      flex-direction: row;
    }
  }
  &__employeursFicheATE, &__employeursFicheFin {
    width: 274px;
    padding: 1.2em;
  }
  @media only screen and (min-width: 800px) {
    &__employeursFicheATE, &__employeursFicheFin {
      width: 50%;
    }
  }
  &__profilDeCompetencesImage {
    max-width: 100%;
  }
  &__contactVignetteImage {
    width: 114px;
    height: 114px;
    border-radius: 50%;
    border: 1px solid #13588B;
  }
  &__contactVignette {
    max-width: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 1em 0;
  }
  &__profilDeCompetences {
    position: relative;
    width: 100%;
  }
  &__profilDeCompetences button {
    position: absolute;
    top: 80%;
    left: 10%;
  }
  @media only screen and (min-width: 800px) {
    &__profilEtContact {
      display: flex;
      flex-direction: row;
      margin-bottom: 3em;
    }
    &__profilDeCompetences {
      width: 50%;
    }
    &__contactVignette {
      margin-left: 8%;
    }
    &__contactVignetteImage {
      margin-right: 1em;
    }
    &__profilDeCompetences button {
      position: absolute;
      top: 70%;
      left: 20%;
    }
  }
  &__2axesLogo {
    display: flex;
    flex-direction: row;
  }
}