@charset "UTF-8";
.acc__descProgramme {
  margin: 0 5%;
  z-index: 999;
}
.acc__descProgramme button {
  margin: 2.5em 0 5em 0;
}
@media only screen and (min-width: 600px) {
  .acc__descProgramme {
    display: flex;
    flex-direction: row;
  }
  .acc__descProgrammeContainer {
    max-width: 60%;
    margin: 1em 0;
    position: relative;
  }
  .acc__descProgrammeTexte {
    max-width: 85%;
    margin-top: 4em;
  }
  .acc__descProgramme button {
    margin: 3.5em 0 0 5em;
    max-height: 60px;
    width: 300px;
  }
}
.acc__vagueRealisations {
  margin-top: -4em;
}
@media only screen and (min-width: 600px) {
  .acc__vagueRealisations {
    margin-bottom: -4em;
  }
}
.acc__realisations {
  background-color: #377CAF;
  margin-top: -40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.acc__realisations a {
  text-decoration: none;
}
.acc__realiGallerie {
  display: flex;
  flex-direction: column;
  /* À changer avec le caroussel */
  align-items: center;
  padding-top: 2em;
}
@media only screen and (min-width: 600px) {
  .acc__realiGallerie {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 5% 3em;
    flex-wrap: wrap;
    max-width: 1000px;
    background-color: #ECECEC;
    border-radius: 7px;
  }
  .acc__realiGallerie a:nth-child(5) {
    margin: 0 0.7em 0 0;
  }
  .acc__realiGallerie a:nth-child(4) {
    margin: 0 1em 0 0.8em;
  }
}
.acc__realiTitre {
  color: white;
}
.acc__realiFiche {
  border-radius: 7px;
  width: 291px;
  height: 168px;
  margin: 1.5em 0;
  display: flex;
  align-items: flex-end;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.acc__realiFicheFond {
  background-color: black;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  opacity: 55%;
  height: 77px;
  width: inherit;
  position: absolute;
}
.acc__realiFicheEtiquette > * {
  color: white;
  margin-left: 2em;
}
.acc__realiFicheEtiquetteTitre {
  margin-top: 2em;
}
.acc__realiFicheEtiquetteConcepteur {
  margin-top: -1em;
}
.acc__realiFicheEtiquette {
  z-index: 99;
}
.acc__realiGallerie button {
  margin: 1.5em 0 3em;
}
.acc__temoignages {
  background-color: #F6F6F6;
  padding: 1.5em 0;
}
.acc__temoiTitre {
  margin: 1em 0 2em 12%;
}
.acc__temoiContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 600px) {
  .acc__temoiFiche {
    margin: 0 5% 0;
    background-color: #FFFFFF;
    border: 3px solid #498EC1;
    border-radius: 8px;
    margin-bottom: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (min-width: 600px) {
  .acc__temoignages {
    display: flex;
    flex-direction: column;
  }
  .acc__temoiFiche {
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    align-self: center;
    margin: 0 5% 0;
    background-color: #FFFFFF;
    border: 3px solid #498EC1;
    border-radius: 8px;
    margin-bottom: 3em;
  }
  .acc__temoiContainer {
    display: flex;
    flex-direction: column;
    justify-content: normal;
    align-items: normal;
  }
  .acc__temoiPhoto {
    height: 168px;
    margin-left: 7%;
  }
  .acc__temoiNomTemoin {
    margin: 2em 0 1em 5%;
  }
  .acc__temoiEtiquettes {
    display: flex;
    flex-direction: row;
  }
  .acc__temoiEtiquettes > * {
    min-width: 184px;
    margin-left: 2.3em;
    max-height: 60px;
  }
}
.acc__temoiTexteDesc {
  margin: 1em 2em 2.5em;
}
.acc__temoiPhoto {
  border-radius: 50%;
  margin-top: 2em;
  border: 4px solid #498EC1;
}
.acc__temoiEtiquettesAnnee {
  background-color: #FF9C9C;
  border: 3px solid #CD7474;
  padding: 0 0.2em;
}
.acc__temoiEtiquettePoste {
  background-color: #FF9C9C;
  border: 3px solid #CD7474;
  padding: 0 0.2em;
}
.acc__temoiEtiquettesPosteTexte {
  font-size: 0.8em;
  align-self: center;
  justify-self: center;
}
.acc__temoiEtiquettePoste, .acc__temoiEtiquettesAnnee {
  max-width: 280px;
  text-align: center;
  margin-bottom: 1em;
}
.acc__plusDInfoTitre {
  margin-top: 2em;
}
.acc__plusFiche {
  margin: 0 5%;
  border: 3px solid #F78888;
  border-radius: 7px;
  margin-bottom: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.acc__plusFicheZoneTitre {
  background-color: #F78888;
  width: 100%;
  text-align: center;
}
.acc__plusFicheTexte {
  margin: 1em 1.5em 4em;
}
.acc__plusFiche button {
  margin-bottom: 1.5em;
}
.acc__bourseEtInscription p, .acc__bourseEtInscription button {
  margin: 1em 9%;
}
.acc__bourseEtInscription h2 {
  margin: 1.2em 1.4em 0;
}
.acc__infoBourse {
  background-color: #13588B;
  color: white;
  display: flex;
  flex-direction: column;
}
.acc__infoInscription {
  background-color: #ECECEC;
  color: #13588B;
  display: flex;
  flex-direction: column;
}
.acc__infoBourseBouton, .acc__infoInscriptionBouton {
  width: 300px;
  color: black;
  margin-bottom: 3em;
}
@media only screen and (min-width: 600px) {
  .acc__plusDInfoContainer {
    display: flex;
    justify-content: center;
  }
  .acc__plusFiches {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: -2em;
  }
  .acc__plusFiche {
    margin: 0 0 2em 2em;
    max-width: 306px;
    min-width: 306px;
    height: 350px;
  }
  .acc__plusFiche:nth-child(3) {
    margin-top: 12em;
  }
  .acc__plusFiche:nth-child(2) {
    margin-top: 6em;
  }
  .acc__plusFiche:nth-child(2) button {
    margin-top: -3em;
  }
  .acc__bourseEtInscription {
    display: flex;
    flex-direction: row;
  }
  .acc__infoBourse {
    width: 50%;
    background-color: #13588B;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .acc__infoInscription {
    background-color: #ECECEC;
    color: #13588B;
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  .acc__bourseEtInscription p, .acc__bourseEtInscription button {
    margin: 0 3em 1em;
  }
  .acc__bourseEtInscription h2 {
    margin: 1em 2.2em;
  }
}

/*# sourceMappingURL=accueil.css.map */
