main {

}

/* Éléments de formulaire généraux */

label {
  color: #595959;
}

.champMoyen {
  width: 350px;
  height: 35px;
  background-color: #FAFAFA;
  border: 1px solid #A1A1A1;
  border-radius: 3px;
}

label {
  margin-top: 2em;
}

.champMessageLong {
  width: 350px;
  height: 165px;
  background-color: #FAFAFA;
  border: 1px solid #A1A1A1;
  border-radius: 3px;
}

.formSelect {
  width: 350px;
  height: 35px;
  background-color: #FAFAFA;
  border: 1px solid #A1A1A1;
  border-radius: 3px;
}

.erreur__message {
  font-size: 12px;
  color: red;
  margin: 0 0 0.8em 0;
}
.erreur {
  border: 2px solid red;
}

.contenu-cache {
  display: none;
}