@charset "UTF-8";
/**
 * @author Prenom Nom courriel
 * @todo Lier les modules avec des instructions @import
 * @todo Compléter selon l'énoncé de l'exercice
 */
/*
 * ------------------
 * TABLE DES MATIERES
 * ------------------
 * Librairies
 ** Normalize
 * UTILITAIRES
 ** Variables
 ** Mixins
 * BASE
 ** Typographie
 ** Hyperliens
 ** Boutons
 * MODULES
 ** gds - Styles généraux du Guide de styles
 ** palette - Palette de couleurs
 ** listeInteractivite - Éléments interactifs
 */
/****** Librairies ******/
/** Normalize **/
/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/**** UTILITAIRES ****/
/** Variables **/
/**
* @author David Laberge
*/
/** Mixins **/
/**
* @author David Laberge
*/
/** General **/
/* Éléments de formulaire généraux */
label {
  color: #595959;
}

.champMoyen {
  width: 250px;
  height: 35px;
  background-color: #FAFAFA;
  border: 1px solid #A1A1A1;
  margin-bottom: 2em;
  border-radius: 3px;
}

.champMessageLong {
  width: 250px;
  height: 165px;
  background-color: #FAFAFA;
  border: 1px solid #A1A1A1;
  border-radius: 3px;
  margin-bottom: 2em;
}

.formSelect {
  width: 250px;
  height: 35px;
  background-color: #FAFAFA;
  border: 1px solid #A1A1A1;
  margin-bottom: 2em;
  border-radius: 3px;
}

/****** BASE ******/
/** Typographie **/
/**
* @author David Laberge
*/
/** Hyperliens **/
/**
* @author Prenom Nom courriel
*/
/** Boutons **/
/**
* @author David Laberge
*/
button {
  background-color: #F3D250;
  min-width: 220px;
  min-height: 50px;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  font-weight: bold;
}

/****** MODULES ******/
/** Page Accueil **/
.acc__descProgramme {
  margin: 0 5%;
  z-index: 999;
}
.acc__descProgramme button {
  margin: 2.5em 0 5em 0;
}
@media only screen and (min-width: 600px) {
  .acc__descProgramme {
    display: flex;
    flex-direction: row;
  }
  .acc__descProgrammeContainer {
    max-width: 60%;
    margin: 1em 0;
    position: relative;
  }
  .acc__descProgrammeTexte {
    max-width: 85%;
    margin-top: 4em;
  }
  .acc__descProgramme button {
    margin: 3.5em 0 0 5em;
    max-height: 60px;
    width: 300px;
  }
}
.acc__vagueRealisations {
  margin-top: -4em;
}
@media only screen and (min-width: 600px) {
  .acc__vagueRealisations {
    margin-bottom: -4em;
  }
}
.acc__realisations {
  background-color: #377CAF;
  margin-top: -40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.acc__realiGallerie {
  display: flex;
  flex-direction: column;
  /* À changer avec le caroussel */
  align-items: center;
  padding-top: 2em;
}
@media only screen and (min-width: 600px) {
  .acc__realiGallerie {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 5% 3em;
    flex-wrap: wrap;
    max-width: 1000px;
    background-color: #ECECEC;
    border-radius: 7px;
  }
  .acc__realiGallerie div:nth-child(5) {
    margin: 0 0.7em 0 0;
  }
  .acc__realiGallerie div:nth-child(4) {
    margin: 0 1em 0 0.8em;
  }
}
.acc__realiTitre {
  color: white;
}
.acc__realiFiche {
  border-radius: 7px;
  width: 291px;
  height: 168px;
  margin: 1.5em 0;
  display: flex;
  align-items: flex-end;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.acc__realiFicheFond {
  background-color: black;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  opacity: 55%;
  height: 77px;
  width: inherit;
  position: absolute;
}
.acc__realiFicheEtiquette > * {
  color: white;
  margin-left: 2em;
}
.acc__realiFicheEtiquetteTitre {
  margin-top: 2em;
}
.acc__realiFicheEtiquetteConcepteur {
  margin-top: -1em;
}
.acc__realiFicheEtiquette {
  z-index: 99;
}
.acc__realiGallerie button {
  margin: 1.5em 0 3em;
}
.acc__temoignages {
  background-color: #F6F6F6;
  padding: 1.5em 0;
}
.acc__temoiTitre {
  margin: 1em 0 2em 20%;
}
.acc__temoiContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 600px) {
  .acc__temoiFiche {
    margin: 0 5% 0;
    background-color: #FFFFFF;
    border: 3px solid #498EC1;
    border-radius: 8px;
    margin-bottom: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (min-width: 600px) {
  .acc__temoignages {
    display: flex;
    flex-direction: column;
  }
  .acc__temoiFiche {
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    align-self: center;
    margin: 0 5% 0;
    background-color: #FFFFFF;
    border: 3px solid #498EC1;
    border-radius: 8px;
    margin-bottom: 3em;
  }
  .acc__temoiContainer {
    display: flex;
    flex-direction: column;
    justify-content: normal;
    align-items: normal;
  }
  .acc__temoiPhoto {
    height: 168px;
    margin-left: 7%;
  }
  .acc__temoiNomTemoin {
    margin: 2em 0 1em 5%;
  }
  .acc__temoiEtiquettes {
    display: flex;
    flex-direction: row;
  }
  .acc__temoiEtiquettes > * {
    min-width: 184px;
    margin-left: 2.3em;
    max-height: 60px;
  }
}
.acc__temoiTexteDesc {
  margin: 1em 2em 2.5em;
}
.acc__temoiPhoto {
  border-radius: 50%;
  margin-top: 2em;
  border: 4px solid #498EC1;
}
.acc__temoiEtiquettesAnnee {
  background-color: #FF9C9C;
  border: 3px solid #CD7474;
  padding: 0 0.2em;
}
.acc__temoiEtiquettePoste {
  background-color: #FF9C9C;
  border: 3px solid #CD7474;
  padding: 0 0.2em;
}
.acc__temoiEtiquettesPosteTexte {
  font-size: 0.8em;
}
.acc__temoiEtiquettePoste, .acc__temoiEtiquettesAnnee {
  max-width: 260px;
  text-align: center;
  margin-bottom: 1em;
}
.acc__plusDInfoTitre {
  margin-top: 2em;
}
.acc__plusFiche {
  margin: 0 5%;
  border: 3px solid #F78888;
  border-radius: 7px;
  margin-bottom: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.acc__plusFicheZoneTitre {
  background-color: #F78888;
  width: 100%;
  text-align: center;
}
.acc__plusFicheTexte {
  margin: 1em 1.5em 4em;
}
.acc__plusFiche button {
  margin-bottom: 1.5em;
}
@media only screen and (min-width: 600px) {
  .acc__plusDInfoContainer {
    display: flex;
    justify-content: center;
  }
  .acc__plusFiches {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: -2em;
  }
  .acc__plusFiche {
    margin: 0 0 2em 2em;
    max-width: 306px;
    min-width: 306px;
    height: 350px;
  }
  .acc__plusFiche:nth-child(3) {
    margin-top: 12em;
  }
  .acc__plusFiche:nth-child(2) {
    margin-top: 6em;
  }
}
.acc__zoneInscription {
  background-image: url("./../images/image_inscription.png");
  width: 100%;
  height: 333px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerBoutonInscription {
  margin-top: 1.5em;
  display: flex;
  justify-content: center;
}

/** Page Accueil **/
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact__fiches {
  display: flex;
  justify-content: center;
}
.contact__fichesResponsables {
  display: flex;
  flex-direction: column;
}
.contact__ficheResponsable {
  width: 375px;
  height: 375px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  margin-bottom: 3em;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.contact__ficheResponsable:last-child {
  margin-left: -5em;
}
.contact__ficheResponsableEtiquette {
  color: white;
  width: 100%;
  height: 115px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
}
.contact__bouton {
  position: absolute;
  top: 93%;
  z-index: 99;
}
.contact__formulaire {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 4em;
}
@media only screen and (min-width: 600px) {
  .contact__formulaire {
    display: flex;
    flex-direction: row;
    margin-bottom: 4em;
  }
}
.contact__formContainerInputs {
  display: flex;
  flex-direction: column;
}
.contact__formContainerDestinataire {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 600px) {
  .contact__fichesResponsables {
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .contact__formulaire {
    width: 800px;
    padding: 100px;
    border: 2px solid #377CAF;
    border-radius: 7px;
  }
}

/** Page Finissants **/
/** Page Réalisations **/
/** Page Programme **/
/** Page Stages **/
/** Entete **/
.entete {
  max-width: 100%;
  margin: 0 auto;
  background-color: #000000;
}
.entete ul {
  max-width: 1000px;
  margin: 0 auto 1em;
  padding-top: 1em;
  display: flex;
  justify-content: space-between;
}
.entete img {
  width: 100%;
  display: flex;
  align-self: flex-end;
}
.entete__mobile {
  /* Afficher le logo dans la barre supérieure en mobile */
  display: none;
}

.menu {
  margin-top: 0;
  padding: 0;
}

.navigation a {
  color: white;
  text-decoration: none;
}

/** Pied de page **/
.footer {
  background-color: black;
  margin: 0;
  padding: 0;
}
.footer__haut {
  display: flex;
  flex-direction: column;
  text-align: center;
}
@media only screen and (min-width: 600px) {
  .footer .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
.footer__navMenu a {
  color: white;
  list-style: none;
  text-decoration: none;
  font-weight: bold;
}
.footer__navMenu li {
  margin-top: 2em;
}
.footer__sociaux {
  margin: 2em 1.5em 3em;
}
.footer__sociaux img {
  max-width: 40px;
  margin: 0 1em;
}
.footer__sociaux a {
  text-decoration: none;
}
.footer__bas {
  padding: 2em 0;
  background-color: #ECECEC;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__bas img {
  width: 185px;
  margin-bottom: 0.5em;
}
.footer__basCopyright {
  margin-top: 3em;
}

/** Navigation **/
/** Navigation **/
/** gds - Styles généraux du Guide de styles **/
/**
* @author David Laberge
*/
/** palette - Palette de couleurs **/
/**
* @author David Laberge
*/
/** listeInteractivite - Éléments interactifs **/
/**
* @author David Laberge
*/

/*# sourceMappingURL=styles.css.map */
