@charset "UTF-8";
/**
 * @author Prenom Nom courriel
 * @todo Lier les modules avec des instructions @import
 * @todo Compléter selon l'énoncé de l'exercice
 */
/*
 * ------------------
 * TABLE DES MATIERES
 * ------------------
 * Librairies
 ** Normalize
 * UTILITAIRES
 ** Variables
 ** Mixins
 * BASE
 ** Typographie
 ** Hyperliens
 ** Boutons
 * MODULES
 ** gds - Styles généraux du Guide de styles
 ** palette - Palette de couleurs
 ** listeInteractivite - Éléments interactifs
 */
/****** Librairies ******/
/** Normalize **/
/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/**** UTILITAIRES ****/
/** Variables **/
/**
* @author David Laberge
*/
/** Mixins **/
/**
* @author David Laberge
*/
/** General **/
/* Éléments de formulaire généraux */
label {
  color: #595959;
}

.champMoyen {
  width: 350px;
  height: 35px;
  background-color: #FAFAFA;
  border: 1px solid #A1A1A1;
  border-radius: 3px;
}

label {
  margin-top: 2em;
}

.champMessageLong {
  width: 350px;
  height: 165px;
  background-color: #FAFAFA;
  border: 1px solid #A1A1A1;
  border-radius: 3px;
}

.formSelect {
  width: 350px;
  height: 35px;
  background-color: #FAFAFA;
  border: 1px solid #A1A1A1;
  border-radius: 3px;
}

.erreur__message {
  font-size: 12px;
  color: red;
  margin: 0 0 0.8em 0;
}

.contenu-cache {
  display: none;
}

/****** BASE ******/
/** Typographie **/
/**
* @author David Laberge
*/
h1 {
  font-family: "Ubuntu", sans-serif;
  color: #377CAF;
  text-align: center;
}

h2, h3 {
  font-family: "Ubuntu", sans-serif;
}

p, label, button, a {
  font-family: "PT Sans", sans-serif;
  font-size: 1.1rem;
}

/** Hyperliens **/
/**
* @author Prenom Nom courriel
*/
/** Boutons **/
/**
* @author David Laberge
*/
button {
  background-color: #F3D250;
  min-width: 220px;
  min-height: 50px;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  font-weight: bold;
  transition: 0.6s;
}
button:before {
  opacity: 0.5;
  filter: blur(30px);
  transform: translateX(-100px) skewX(-15deg);
  background: rgba(255, 255, 255, 0.5);
}
button:after {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100px) skewX(-15deg);
  background: rgba(255, 255, 255, 0.5);
}
button:hover {
  background: #5398CB;
  color: white;
  cursor: pointer;
}
button:hover:before {
  transform: translateX(300px) skewX(-15deg);
  opacity: 0.6;
  transition: 0.7s;
}
button:hover:after {
  transform: translateX(300px) skewX(-15deg);
  opacity: 1;
  transition: 0.7s;
}

/****** MODULES ******/
/** Page Accueil **/
.acc__descProgramme {
  margin: 0 5%;
  z-index: 999;
}
.acc__descProgramme button {
  margin: 2.5em 0 5em 0;
}
@media only screen and (min-width: 600px) {
  .acc__descProgramme {
    display: flex;
    flex-direction: row;
  }
  .acc__descProgrammeContainer {
    max-width: 60%;
    margin: 1em 0;
    position: relative;
  }
  .acc__descProgrammeTexte {
    max-width: 85%;
    margin-top: 4em;
  }
  .acc__descProgramme button {
    margin: 3.5em 0 0 5em;
    max-height: 60px;
    width: 300px;
  }
}
.acc__vagueRealisations {
  margin-top: -4em;
}
@media only screen and (min-width: 600px) {
  .acc__vagueRealisations {
    margin-bottom: -4em;
  }
}
.acc__realisations {
  background-color: #377CAF;
  margin-top: -40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.acc__realisations a {
  text-decoration: none;
}
.acc__realiGallerie {
  display: flex;
  flex-direction: column;
  /* À changer avec le caroussel */
  align-items: center;
  padding-top: 2em;
}
@media only screen and (min-width: 600px) {
  .acc__realiGallerie {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 5% 3em;
    flex-wrap: wrap;
    max-width: 1000px;
    background-color: #ECECEC;
    border-radius: 7px;
  }
  .acc__realiGallerie a:nth-child(5) {
    margin: 0 0.7em 0 0;
  }
  .acc__realiGallerie a:nth-child(4) {
    margin: 0 1em 0 0.8em;
  }
}
.acc__realiTitre {
  color: white;
}
.acc__realiFiche {
  border-radius: 7px;
  width: 291px;
  height: 168px;
  margin: 1.5em 0;
  display: flex;
  align-items: flex-end;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.acc__realiFicheFond {
  background-color: black;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  opacity: 55%;
  height: 77px;
  width: inherit;
  position: absolute;
}
.acc__realiFicheEtiquette > * {
  color: white;
  margin-left: 2em;
}
.acc__realiFicheEtiquetteTitre {
  margin-top: 2em;
}
.acc__realiFicheEtiquetteConcepteur {
  margin-top: -1em;
}
.acc__realiFicheEtiquette {
  z-index: 99;
}
.acc__realiGallerie button {
  margin: 1.5em 0 3em;
}
.acc__temoignages {
  background-color: #F6F6F6;
  padding: 1.5em 0;
}
.acc__temoiTitre {
  margin: 1em 0 2em 12%;
}
.acc__temoiContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 600px) {
  .acc__temoiFiche {
    margin: 0 5% 0;
    background-color: #FFFFFF;
    border: 3px solid #498EC1;
    border-radius: 8px;
    margin-bottom: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (min-width: 600px) {
  .acc__temoignages {
    display: flex;
    flex-direction: column;
  }
  .acc__temoiFiche {
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    align-self: center;
    margin: 0 5% 0;
    background-color: #FFFFFF;
    border: 3px solid #498EC1;
    border-radius: 8px;
    margin-bottom: 3em;
  }
  .acc__temoiContainer {
    display: flex;
    flex-direction: column;
    justify-content: normal;
    align-items: normal;
  }
  .acc__temoiPhoto {
    height: 168px;
    margin-left: 7%;
  }
  .acc__temoiNomTemoin {
    margin: 2em 0 1em 5%;
  }
  .acc__temoiEtiquettes {
    display: flex;
    flex-direction: row;
  }
  .acc__temoiEtiquettes > * {
    min-width: 184px;
    margin-left: 2.3em;
    max-height: 60px;
  }
}
.acc__temoiTexteDesc {
  margin: 1em 2em 2.5em;
}
.acc__temoiPhoto {
  border-radius: 50%;
  margin-top: 2em;
  border: 4px solid #498EC1;
}
.acc__temoiEtiquettesAnnee {
  background-color: #FF9C9C;
  border: 3px solid #CD7474;
  padding: 0 0.2em;
}
.acc__temoiEtiquettePoste {
  background-color: #FF9C9C;
  border: 3px solid #CD7474;
  padding: 0 0.2em;
}
.acc__temoiEtiquettesPosteTexte {
  font-size: 0.8em;
  align-self: center;
  justify-self: center;
}
.acc__temoiEtiquettePoste, .acc__temoiEtiquettesAnnee {
  max-width: 280px;
  text-align: center;
  margin-bottom: 1em;
}
.acc__plusDInfoTitre {
  margin-top: 2em;
}
.acc__plusFiche {
  margin: 0 5%;
  border: 3px solid #F78888;
  border-radius: 7px;
  margin-bottom: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.acc__plusFicheZoneTitre {
  background-color: #F78888;
  width: 100%;
  text-align: center;
}
.acc__plusFicheTexte {
  margin: 1em 1.5em 4em;
}
.acc__plusFiche button {
  margin-bottom: 1.5em;
}
.acc__bourseEtInscription p, .acc__bourseEtInscription button {
  margin: 1em 9%;
}
.acc__bourseEtInscription h2 {
  margin: 1.2em 1.4em 0;
}
.acc__infoBourse {
  background-color: #13588B;
  color: white;
  display: flex;
  flex-direction: column;
}
.acc__infoInscription {
  background-color: #ECECEC;
  color: #13588B;
  display: flex;
  flex-direction: column;
}
.acc__infoBourseBouton, .acc__infoInscriptionBouton {
  width: 300px;
  color: black;
  margin-bottom: 3em;
}
@media only screen and (min-width: 600px) {
  .acc__plusDInfoContainer {
    display: flex;
    justify-content: center;
  }
  .acc__plusFiches {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: -2em;
  }
  .acc__plusFiche {
    margin: 0 0 2em 2em;
    max-width: 306px;
    min-width: 306px;
    height: 350px;
  }
  .acc__plusFiche:nth-child(3) {
    margin-top: 12em;
  }
  .acc__plusFiche:nth-child(2) {
    margin-top: 6em;
  }
  .acc__plusFiche:nth-child(2) button {
    margin-top: -3em;
  }
  .acc__bourseEtInscription {
    display: flex;
    flex-direction: row;
  }
  .acc__infoBourse {
    width: 50%;
    background-color: #13588B;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .acc__infoInscription {
    background-color: #ECECEC;
    color: #13588B;
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  .acc__bourseEtInscription p, .acc__bourseEtInscription button {
    margin: 0 3em 1em;
  }
  .acc__bourseEtInscription h2 {
    margin: 1em 2.2em;
  }
}

/** Page Accueil **/
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact__fiches {
  display: flex;
  justify-content: center;
}
.contact__fichesResponsables {
  display: flex;
  flex-direction: column;
}
.contact__ficheResponsable {
  width: 375px;
  height: 375px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  margin-bottom: 3em;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.contact__ficheResponsableEtiquette {
  color: white;
  width: 100%;
  height: 115px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
}
.contact__bouton {
  position: absolute;
  top: 93%;
  z-index: 99;
}
.contact__formulaire {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 4em 0;
}
.contact__formulaireTitre {
  margin-top: 3em;
  margin-bottom: 0;
}
.contact__boutonEnvoyer {
  margin-top: 3em;
}
@media only screen and (min-width: 600px) {
  .contact__formulaire {
    display: flex;
    flex-direction: column;
    margin-bottom: 4em;
  }
  .contact button {
    width: 250px;
  }
  .contact__ficheResponsable:last-child {
    margin-left: -5em;
  }
}
@media only screen and (min-width: 600px) {
  .contact__fichesResponsables {
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .contact__formulaire {
    width: 800px;
    padding: 100px;
    border: 2px solid #377CAF;
    border-radius: 7px;
  }
}

/** Page Finissants **/
/** Page Réalisations **/
.realisations__fiches {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media only screen and (min-width: 600px) {
  .realisations__fiches {
    width: 1000px;
    margin: auto;
  }
}
.realisations__fiche {
  display: flex;
  flex-direction: column;
  width: 170px;
  border: 1px solid #5DA2D5;
  border-radius: 7px;
  margin: 2%;
}
.realisations__fiche:nth-child(3n+1) {
  display: flex;
  flex-direction: row;
  width: 95%;
}
.realisations__ficheContenuImage {
  width: 170px;
  height: 170px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.realisations__fiche:nth-child(3n+1) img {
  height: 100%;
  border-bottom-left-radius: 7px;
  border-top-right-radius: 0px;
}
.realisations__ficheContenuVignetteContainer {
  position: absolute;
  background-color: #5DA2D5;
  width: 124px;
  height: 28px;
  margin-top: 1em;
  text-align: center;
}
.realisations__ficheContenuDroite {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}
.realisations__ficheContenuCours {
  font-size: 12px;
  margin-bottom: 1em;
}
.realisations__ficheContenuTitre {
  font-size: 20px;
  color: #13588B;
  margin-bottom: 0;
  text-align: center;
}
.realisations__ficheContenuConcepteur {
  font-size: 16px;
  margin-top: 7px;
  border-bottom: 1px solid black;
  padding-bottom: 1em;
  text-align: center;
}
.realisations__voirPlus {
  margin: 1em 0 3em 20%;
}

/** Page Réalisations **/
.ficheProj {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 600px) {
  .ficheProj__container {
    background-color: #377CAF;
    margin-bottom: 2em;
  }
  .ficheProj__ficheContainer {
    border-radius: 8px;
    background-color: white;
    max-width: 1000px;
    margin: 3em auto auto;
  }
}
.ficheProj__grosseImage {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
@media only screen and (min-width: 600px) {
  .ficheProj__titre {
    margin-top: 1.2em;
  }
  .ficheProj__ficheContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3.2em;
  }
  .ficheProj__images {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .ficheProj__grosseImage {
    width: 600px;
  }
}
.ficheProj__petiteImage {
  width: 70px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-left: 1.2em;
}
.ficheProj__petitesImages {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
}
.ficheProj__description {
  margin: 10% 3%;
}
.ficheProj__description p {
  margin-bottom: 2em;
}
@media only screen and (min-width: 600px) {
  .ficheProj__description {
    margin: 7% 20%;
  }
}
.ficheProj__concepteur {
  background-color: #13588B;
  color: #ECECEC;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (min-width: 600px) {
  .ficheProj__concepteurContainer {
    width: 1000px;
    margin: auto;
  }
}
.ficheProj__concepteurPhoto {
  margin-top: 1.5em;
  border-radius: 50%;
  border: 2px solid #FF9C9C;
}
.ficheProj__concepteur p {
  margin: 1em 5%;
}
.ficheProj__concepteur p:last-child {
  margin-bottom: 3em;
}
.ficheProj__boutonRetourRealisations {
  margin: 2em 0;
  align-self: center;
}

.image-active {
  border: 2px solid #FF9C9C;
}

/** Page Programme **/
.programme {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media only screen and (min-width: 800px) {
  .programme {
    max-width: 1000px;
    margin: auto;
  }
}
.programme__tim3Mots {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.programme__grosTim {
  font-size: 80px;
  font-weight: bold;
  border-right: 1px solid black;
  margin-right: 0.2em;
  margin-left: -0.5em;
  padding-right: 0.2em;
}
.programme__2Axes1But {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.programme__2Axes {
  background-color: #ECECEC;
  color: #13588B;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.programme__2axesLogo {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0.5em 0;
}
.programme__conceptionTitre, .programme__integrationProgrammationTitre {
  max-width: 150px;
  text-align: center;
}
.programme__1SeulBut {
  width: 100%;
  background-color: #13588B;
  color: #ECECEC;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.programme__1SeulButImgDesc {
  display: flex;
  flex-direction: row;
  margin-bottom: 2em;
}
.programme__1SeulButImg {
  margin-right: 0.7em;
}
.programme__1SeulButDesc {
  max-width: 245px;
}
.programme__integrationProgrammationLogo {
  fill: #13588B;
}
.programme__conceptionContainer, .programme__integrationProgrammationContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.programme__progIntContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.programme__programmation, .programme__integration {
  width: 50%;
}
.programme__concTraitAutresContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.programme__conception {
  width: 50%;
}
.programme__traitement, .programme__autre {
  width: 25%;
}
.programme__programmationContenu {
  width: 100%;
}
@media only screen and (min-width: 800px) {
  .programme__profilsContainer {
    display: flex;
    flex-direction: row;
  }
  .programme__etudiantDUnJour {
    display: flex;
    flex-direction: row;
  }
  .programme__edujContenu {
    width: 50%;
  }
  .programme__edujVignetteImage {
    margin: 0 2em;
  }
}
.programme__profilsContenuDeveloppe {
  background-color: #ECECEC;
  margin-top: -1.5em;
  border: 2px solid #13588B;
  padding: 1em;
}
.programme__edujVignette {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 1em 0;
  max-width: 600px;
}
.programme__edujVignetteImage {
  width: 114px;
  height: 114px;
  border-radius: 50%;
  border: 1px solid #13588B;
}
.programme a {
  text-decoration: none;
  color: inherit;
}
.programme__boutonGrilleDeCours {
  align-self: center;
}

.onglet-actif {
  background-color: #ECECEC;
  border: 2px solid #13588B;
  border-bottom: none;
  color: #13588B;
}

.onglet-actif img {
  fill: red;
}

.onglet-inactif {
  background-color: #13588B;
  border: 2px solid #ECECEC;
  color: #ECECEC;
  cursor: pointer;
}

.onglet-actif, .onglet-inactif {
  text-align: center;
  padding-top: 1em;
  text-decoration: none;
  cursor: pointer;
}

.cache {
  display: none;
}

/** Page Stages **/
.stages {
  max-width: 100%;
}
@media only screen and (min-width: 800px) {
  .stages {
    max-width: 1000px;
    margin: auto;
  }
}
.stages__futursEtudiantsContainer {
  background-color: #ECECEC;
  padding: 1.4em 1.4em 3em;
  margin-bottom: 5em;
}
.stages__employeursFicheFin {
  background-color: #90CCF4;
}
.stages__employeursFicheATE {
  background-color: #13588B;
  color: white;
  float: right;
  margin-top: -1em;
}
@media only screen and (min-width: 800px) {
  .stages__employeursFicheATE {
    background-color: #13588B;
    margin-top: 0;
  }
  .stages__employeursContainer {
    display: flex;
    flex-direction: row;
  }
}
.stages__employeursFicheATE, .stages__employeursFicheFin {
  width: 274px;
  padding: 1.2em;
}
@media only screen and (min-width: 800px) {
  .stages__employeursFicheATE, .stages__employeursFicheFin {
    width: 50%;
  }
}
.stages__profilDeCompetencesImage {
  max-width: 100%;
}
.stages__contactVignetteImage {
  width: 114px;
  height: 114px;
  border-radius: 50%;
  border: 1px solid #13588B;
}
.stages__contactVignette {
  max-width: 600px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 1em 0;
}
.stages__profilDeCompetences {
  position: relative;
  width: 100%;
}
.stages__profilDeCompetences button {
  position: absolute;
  top: 80%;
  left: 10%;
}
@media only screen and (min-width: 800px) {
  .stages__profilEtContact {
    display: flex;
    flex-direction: row;
    margin-bottom: 3em;
  }
  .stages__profilDeCompetences {
    width: 50%;
  }
  .stages__contactVignette {
    margin-left: 8%;
  }
  .stages__contactVignetteImage {
    margin-right: 1em;
  }
  .stages__profilDeCompetences button {
    position: absolute;
    top: 70%;
    left: 20%;
  }
}
.stages__2axesLogo {
  display: flex;
  flex-direction: row;
}

/** Entete **/
.entete {
  max-width: 100%;
  margin: 0 auto;
  background-color: #000000;
  position: relative;
}
.entete ul {
  max-width: 1000px;
  margin: 0 auto 1em;
  padding-top: 1em;
  display: flex;
  justify-content: space-between;
}
.entete img {
  width: 100%;
  display: flex;
  align-self: flex-end;
}
.entete__mobile {
  /* Afficher le logo dans la barre supérieure en mobile */
  display: none;
}
@media only screen and (min-width: 900px) {
  .entete__logoTable {
    display: block;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    position: absolute;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 40%;
    top: 18%;
  }
  .entete__TIM {
    font-size: 6em;
    border-bottom: 1px solid white;
    padding-right: 0.7em;
    margin: 0;
  }
  .entete__slogan {
    margin-left: 60px;
  }
}
@media only screen and (max-width: 900px) {
  .entete__logoTable {
    display: block;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    position: absolute;
    width: 220px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 30%;
    top: 18%;
  }
  .entete__TIM {
    font-size: 5em;
    border-bottom: 1px solid white;
    padding-right: 0.6em;
    margin: 0;
  }
  .entete__slogan {
    margin-left: 40px;
  }
}
@media only screen and (max-width: 600px) {
  .entete__logoTable {
    display: none;
  }
}

.menu {
  margin-top: 0;
  padding: 0;
}

.navigation a {
  color: white;
  text-decoration: none;
}

.navigation a:hover {
  color: #5398CB;
  transition: 0.6s;
}

/** Pied de page **/
.footer {
  background-color: black;
  margin: 0;
  padding: 0;
}
.footer__haut {
  display: flex;
  flex-direction: column;
  text-align: center;
}
@media only screen and (min-width: 600px) {
  .footer .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
.footer__navMenu a {
  color: white;
  list-style: none;
  text-decoration: none;
  font-weight: bold;
}
.footer__navMenu li {
  margin-top: 2em;
}
.footer__sociaux {
  margin: 2em 1.5em 3em;
}
.footer__sociaux img {
  max-width: 40px;
  margin: 0 1em;
}
.footer__sociaux a {
  text-decoration: none;
}
.footer__bas {
  padding: 2em 0;
  background-color: #ECECEC;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__bas img {
  width: 185px;
  margin-bottom: 0.5em;
}
.footer__basCopyright {
  margin-top: 3em;
}
.footer a:hover {
  color: #5398CB;
  transition: 0.6s;
}
.footer__sociaux img:hover {
  transition: 0.6s;
  transform: scale(1.3);
  transform: rotate(25);
}

/** Navigation **/
/** Navigation **/
/** gds - Styles généraux du Guide de styles **/
/**
* @author David Laberge
*/
/** palette - Palette de couleurs **/
/**
* @author David Laberge
*/
/** listeInteractivite - Éléments interactifs **/
/**
* @author David Laberge
*/

/*# sourceMappingURL=styles.css.map */
